header h1 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

header {
  width: 100%;
  padding: 10px 0;
  margin: 0 auto;
  position: relative;
  background-color: #333333;
}

.top-info {
  width: fit-content
}

img {
  width: 250px;
  height: 45px;
}

.top-info a {
  background-size: cover;
  background-position: center;
}

header h1 {
  margin-left: 15px;
}

.nav-list {
  text-align: center;
  padding: 10px 0;
  margin: 0 auto;
  position: absolute;
  top: 15px;
  right: 22px;
}

.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 10px;
}

.nav-list-item a {
  color: #ffffff;
  text-decoration: none;
}

footer {
  width: 100%;
  height: 60px;
  text-align: center;
  line-height: 60px;
  background-color: #333333;
}

.footer-text {
  color: #fff;
}
.search{
  width: 100%;
  display: flex;
}
.search_text{
  width: 400px;
  height: 40px;
}