header h1 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

header {
  width: 100%;
  padding: 10px 0;
  margin: 0 auto;
  position: relative;
  background-color: #333333;
}

.top-info {
  width: fit-content
}

img {
  width: 250px;
  height: 45px;
}

.icon {
  width: 60px;
  height: 60px;
  margin: 0px 25px 0px 0px;
  object-fit: cover;
  background-color: white;
  border-radius: 100%;
  vertical-align: middle;
}

.top-info a {
  background-size: cover;
  background-position: center;
}

header h1 {
  margin-left: 15px;
}

.nav-list {
  text-align: center;
  padding: 10px 0;
  margin: 0 auto;
  position: absolute;
  top: 8px;
  right: 22px;
}

.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 10px;
}

.nav-list-item a {
  color: #ffffff;
  text-decoration: none;
}

.search {
  width: 100%;
  display: flex;
}

.search_text {
  width: 400px;
  height: 40px;
  padding: 10px;
  border-radius: 5px;
}

.search_submit {
  width: 40px;
  border-radius: 5px;
}

footer {
  width: 100%;
  height: 60px;
  text-align: center;
  line-height: 60px;
  background-color: #333333;
  margin-top: 40px;
}

.footer-text {
  color: #fff;
}