.main-visual {
  font-family: "Segoe Print", "Bradley Hand", Courier, sans-serif;
}

.main-visual {
  width: 100%;
  height: 300px;
  background-image: url(../img/kobe_03.png);
  background-size: cover;
  background-position: center;
}

.main-visual-content {
  width: 40%;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  padding-top: 105px;
}

.main-visual-text {
  font-size: 130%;
  color: #fff;
}

.main-visual-name {
  font-size: 150%;
  margin-top: 30px;
  color: #fff;
}

.index-style {
  width: 80%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-top: 20px;
}

.article-style {
  width: 40%;
  margin: 0 auto;
}

article h1 {
  border-bottom: 8px solid #6c6b6b;
  text-align: center;
}

.article-one {
  margin: 30px 0;
  background: -webkit-linear-gradient(380deg, #cce5ff 0%, #cce5ff 30%, #eeeeee8d 30%, #eeeeee8d 100%);
  border-radius: 10px;
  box-shadow: 1px 2px 3px #6c6b6b;
}

.question-one {
  margin: 30px 0;
  background: -webkit-linear-gradient(380deg, #bee3bc 0%, #bee3bc 30%, #eeeeee8d 30%, #eeeeee8d 100%);
  border-radius: 10px;
  box-shadow: 1px 2px 3px #6c6b6b;
}

article a {
  color: inherit;
  text-decoration: none;
}

.article-user {
  padding: 15px 0px 10px 15px;
  margin: 0 auto;
}

.article-user a:hover {
  text-decoration: underline;
}

.article-date {
  padding: 15px 0px 10px 15px;
  margin: 0 auto;
  font-size: 12px;
  display: inline-block;
}

.article-title {
  padding: 0 15px;
  margin: 0 auto;
  text-align: center;
}

.article-title a:hover {
  text-decoration: underline;
}

.heart {
  color: red;
}

a.page_number:visited {
  color: black;
  text-decoration: none
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 15px;
}

.page_feed {
  width: 30px;
  margin: 0 10px;
  padding: 5px 10px;
  text-align: center;
  background: #b8b8b8;
  color: black;
}

.page_number {
  width: 30px;
  margin: 0 10px;
  padding: 5px;
  text-align: center;
  background: #b8b8b8;
  color: black;
}

.now_page_number {
  width: 30px;
  margin: 0 10px;
  padding: 5px;
  text-align: center;
  background: #f0f0f0;
  color: black;
  font-weight: bold;
}

.first_last_page {
  width: 30px;
  margin: 0 10px;
  padding: 5px 10px;
  text-align: center;
  background: #f0f0f0;
  color: black;
}

.from_to {
  display: flex;
  justify-content: center;
}

.article-show {
  width: 75%;
  padding: 0px 0px 5px 0px;
  margin: 50px auto;
  background-color: #eeeeee8d;
  border-radius: 10px;
  box-shadow: 1px 2px 3px #6c6b6b;
}

.article-show-cover {
  width: 100%;
  height: 20%;
  padding: 10px 25px;
  background-color: #cce5ff;
  border-radius: 10px 10px 0px 0px;
}

.question-show-cover {
  width: 100%;
  height: 20%;
  padding: 10px 25px;
  background-color: #bee3bc;
  border-radius: 10px 10px 0px 0px;
}

.article-show-title {
  font-size: 40px;
  margin: 25px 25px;
}

.article-show-user {
  font-size: 20px;
}

.article-show a {
  color: inherit;
  text-decoration: none;
}

.article-show a:hover {
  text-decoration: underline;
}

.text-pos {
  margin: 10px 25px 25px 25px;
}

.text-pos a {
  color: inherit;
  text-decoration: none;
}

.text-pos a:hover {
  text-decoration: underline;
}

.article-text {
  font-size: 22px;
}

.comment {
  padding: 25px;
}

.comment-user {
  font-size: 20px;
}

.comment-border {
  font-size: 22px;
  border-bottom: 1.5px solid;
  padding: 10px 0px 20px 0px;
}

.anser {
  width: 75%;
  margin: 50px auto 0px auto;
  padding: 10px 25px 10px 25px;
  border-radius: 10px;
}

.anser-border {
  border-bottom: 2px solid #6c6b6b;
}

.anser-show {
  width: 75%;
  margin: 20px auto;
  padding: 25px;
  background-color: #eeeeee8d;
  border-radius: 10px;
}

.anser-show-2 {
  width: 75%;
  margin: 5px auto 50px auto;
  padding: 25px;
  background-color: #eeeeee8d;
  border-radius: 10px;
}

.iine_button {
  border-radius: 50%;
  border-color: rgba(240, 18, 25, 0.575);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background: rgba(240, 18, 25, 0.575);
  color: #FFF;
  text-decoration: none;
  text-align: center;
}

.text {
  font-size: 30;
}

.left {
  float: left;
}

.article_image{
  width: 50%;
  height: 50%;
  margin: 0px 25px 25px 25px;
}

.question_image{
  width: 50%;
  height: 50%;
  margin: 0px 25px 25px 25px;
}