.main-visual {
  font-family: "Bradley Hand", Courier, "Segoe Print", sans-serif;
}

.main-visual {
  width: 100%;
  height: 300px;
  background-image: url(../img/kobe_02.png);
  background-size: cover;
  background-position: center;
}

.main-visual-content {
  width: 40%;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  padding-top: 105px;
}

.main-visual-text {
  font-size: 130%;
  color: #fff;
}

.main-visual-name {
  font-size: 150%;
  margin-top: 30px;
  color: #fff;
}



.index-style {
  width: 80%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 20px 0;
}

.article-style {
  width: 40%;
  margin: 0 auto;
}

article h1 {
  border-bottom: 8px solid #f7f7f7;
  text-align: center;
}

.article-one {
  margin: 15px 0;
  background-color: #eeeeee8d;
  border-radius: 10px;
}

article a {
  color: inherit;
  text-decoration: none;
}

.article-user {
  padding: 15px 0px 10px 15px;
  margin: 0 auto;
}

.article-date {
  padding: 15px 0px 10px 15px;
  margin: 0 auto;
  font-size: 12px;
  display: inline-block;
}

.article-title {
  padding: 0 15px;
  margin: 0 auto;
  text-align: center;
}

a.page_number:visited {
  color: black;
  text-decoration: none
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 15px;
}

.page_feed {
  width: 30px;
  margin: 0 10px;
  padding: 5px 10px;
  text-align: center;
  background: #b8b8b8;
  color: black;
}

.page_number {
  width: 30px;
  margin: 0 10px;
  padding: 5px;
  text-align: center;
  background: #b8b8b8;
  color: black;
}

.now_page_number {
  width: 30px;
  margin: 0 10px;
  padding: 5px;
  text-align: center;
  background: #f0f0f0;
  color: black;
  font-weight: bold;
}

.first_last_page {
  width: 30px;
  margin: 0 10px;
  padding: 5px 10px;
  text-align: center;
  background: #f0f0f0;
  color: black;
}

.from_to {
  display: flex;
  justify-content: center;
}

.article-show {
  width: 75%;
  margin: 50px auto;
  padding: 25px;
  background-color: #eeeeee8d;
  border-radius: 10px;
}

.article-show-title {
  font-size: 40px;
  margin: 10px 0;
}

.article-show-user {
  font-size: 20px;
}

.article-text {
  font-size: 22px;
}

.comment-user {
  font-size: 20px;
  padding: 20px 0px 0px 0px;
}

.comment-border {
  font-size: 22px;
  border-bottom: 1px solid;
  padding: 10px 0px 20px 0px;
}

.anser {
  width: 75%;
  margin: 50px auto 0px auto;
  padding: 10px 25px 10px 25px;
  border-radius: 10px;
}

.anser-show {
  width: 75%;
  margin: 20px auto;
  padding: 25px;
  background-color: #eeeeee8d;
  border-radius: 10px;
}