.profile {
  border-width: 500px;
  border: 1px solid #458eaf;
  width: 800px;
  height: 350px;
  margin: 10px auto;
  font-size: 15px;
}

.article {
  margin: auto;
}


h3 {
  text-align: center;
}

h3 {
  margin: 0px 0 30px;
  padding: 10px 0;
  border: 2px solid #458eaf;
  border-left: 0;
  border-right: 0;
  font-weight: 400;
  font-size: 1.6rem;
  color: #458eaf;
}

dl {
  margin: 10px 0;
}

dl dd {
  margin: 10 0 15px;
  padding: 0 0 15px 40px;
  border-bottom: 1px dotted #458eaf;
}

dl dd:last-of-type {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
}

dl.inline {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

dl.inline dt,
dl.inline dd {
  vertical-align: top;
  margin: 0 0 15px 0;
  padding: 0 0 15px;
}

dl.inline dt:last-of-type,
dl.inline dd:last-of-type {
  margin-bottom: 0;
  padding-bottom: 0;
}

dl.inline dt {
  width: 150px;
  padding: 0 30px 10px 0;
  padding-right: 30px;
  border-bottom: 1px dotted #458eaf;
}

dl.inline dt:last-of-type {
  border-bottom: 0;
}

dl.inline dd {
  width: calc(100% - 130px - 30px);
}

dl.border {
  padding: 15px 20px;
  border: 1px solid #458eaf;
  border-radius: 0.25rem;
}


/* 装飾 */
b,
em,
strong {
  font-weight: bold;
}

em {
  font-style: normal;
  background: linear-gradient(transparent 50%, #458eaf 50%);
}

hr {
  margin: 50px;
  border: 0;
  border-bottom: 2px dotted #458eaf;
}

.update{
  margin-bottom: 20px;
}